[Unit]                                                                                                  
Description=Check Internet connectivity

[Service]
User=amitk
WorkingDirectory=<path to script folder>
ExecStart=/bin/bash /path/internet-checker.sh
Restart=always
RestartSec=1
RemainAfterExit=yes
Environment="DISPLAY=:0" "XAUTHORITY=/home/<User name>/.Xauthority"

[Install]
WantedBy=multi-user.target
